<div class="jumbotron bg-success text-center mt-5 h-100 rounded-0 p-0">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-6 bg-success h-100">
        <div class="h-100 d-flex flex-column justify-content-center">
          <h1 class="display-1 font-weight-bolder pt-3 text-light">Welcome</h1>
          <h3 class="text-light">to</h3>
          <h1 class="display-1 font-weight-bolder text-light">Signature</h1>
           <p class="text-gray">Signature is a MVP API Signature Generator.</p>
        </div>
      </div>
      <div class="col-md-6 bg-white pt-3 h-100">
        <p>Included Resources</p>
        <div class="resources">
          <span class="badge bg-warning rounded-0 font-weight-bold text-dark p-2 mb-1">Escher-Rack</span>
          <span class="badge bg-warning rounded-0 font-weight-bold text-dark p-2">font-awesome-5</span>
          <span class="badge bg-warning rounded-0 font-weight-bold text-dark p-2">Devise</span>
        </div>

        </div>
      </div>
    </div>
  </div>
</div>
